@charset "UTF-8";

/**
 * 全体指定
 */

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF',YuGothic,'Yu Gothic','\30E1\30A4\30EA\30AA', Meiryo,'\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF','MS PGothic';
}

/**
 * チャットルーム一覧画面
 */

.room-title > h4 {
  border-bottom: solid 3px #cce4ff;
  position: relative;
}

.room-title > h4:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 50%;
}

.room-url {
  word-wrap: break-word;
  padding: 5px 0;
}

.badge {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  padding: 10px;
}

.badge-success {
  color: #3E7540;
  border: 1px solid #3E7540;
}

.badge-primary {
  color: #35718D;
  border: 1px solid #35718D;
}

.badge-expired {
  color: #fff;
  border: 1px solid #777;
  background-color: #777;
}

.channel-list > li {
  border: 1px solid #ccc;
  border-radius: 2px;
}

.channel-list > li + li {
  margin: 15px 0;
}

.control-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-box > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-box > div:first-child {
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.control-box > div > .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.channel-control {
  padding: 5px;
}

.datetime-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 5px;
}

.datetime-control > input:nth-of-type(2n) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.datetime-control > input:nth-of-type(2n+1) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.datetime-control > input {
  margin: 0 5px;
}

.datetime-control > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/**
 * チャットルーム
 */

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100% - 51px);
}

.content-wrapper > div {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content-wrapper > div:last-child {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  /*background-color: #ff6600;*/
}

#controls {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#controls > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: auto;
}

.left-pane {
  width: 100%;
}

.right-pane {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-pane > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin-top: auto;
}

.right-pane > div:last-child {
  height: 300px;
  bottom: 0;
  overflow: hidden;
}

#preview {
  position: relative;
}

#preview > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

#preview > .preview-ft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
}

#preview > .preview-ft > .preview-blank {
  height: 100%;
}

#preview > .preview-ft > .preview-control {
  height: 60px;
  margin: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#preview > .preview-ft > .preview-control:hover {
  opacity: 1;
}

#preview > .preview-ft > .preview-control > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#preview > .preview-ft > .preview-control > div > div {
  width: 35px;
  height: 35px;
  font-size: 18px;
  color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#preview > .preview-ft > .preview-control > div > div.active {
  background-color: #377BB5;
  color: #fff;
}

#preview > .preview-ft > .preview-control > div > div:hover {
  cursor: pointer;
}

.left-pane > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-pane > div > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#room-controls > div {
  width: 100%;
  height: 100%;
}

#screen-share-id {
  padding: 5px;
  height: 120px;
  width: 100%;
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

#screen-share-id > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#local-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#local-media > video {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

#remote-media {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: scroll;
}

#remote-media > video {
  width: 50%;
  padding: 5px;
}

#remote-media > video:first-child:last-child {
  width: 100%;
}

