@charset "UTF-8";

/**
 * 全体指定
 */

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF',YuGothic,'Yu Gothic','\30E1\30A4\30EA\30AA', Meiryo,'\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF','MS PGothic';
}

/**
 * チャットルーム一覧画面
 */

.room-title > h4 {
  border-bottom: solid 3px #cce4ff;
  position: relative;
}

.room-title > h4:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 50%;
}

.room-url {
  word-wrap: break-word;
  padding: 5px 0;
}

.badge {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  padding: 10px;
}

.badge-success {
  color: #3E7540;
  border: 1px solid #3E7540;
}

.badge-primary {
  color: #35718D;
  border: 1px solid #35718D;
}

.badge-expired {
  color: #fff;
  border: 1px solid #777;
  background-color: #777;
}

.channel-list > li {
  border: 1px solid #ccc;
  border-radius: 2px;
}

.channel-list > li + li {
  margin: 15px 0;
}

.control-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-box > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-box > div:first-child {
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.control-box > div > .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.channel-control {
  padding: 5px;
}

.datetime-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 5px;
}

.datetime-control > input:nth-of-type(2n) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.datetime-control > input:nth-of-type(2n+1) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.datetime-control > input {
  margin: 0 5px;
}

.datetime-control > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/**
 * チャットルーム
 */

#preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#preview > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /*width: 25%;*/
}

#local-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#local-media > video {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

#remote-media {
  margin: -10px;
}

#remote-media > video {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 0;
  margin: 10px;
}

.preview-control > span {
  font-size: 30px;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #ccc;
  margin: 10px;
}

.preview-control > span:hover {
  cursor: pointer;
}

.preview-control > span.active {
  border: 1px solid #35718D;
  border-radius: 10px;
  background-color: #35718D;
  color: #fff;
}

